[Unit]
Description=Archive MySQL binary logs every five minutes

[Timer]
OnCalendar=*-*-* *:00/5:00
Persistent=true
AccuracySec=1s
RandomizedDelaySec=0
Unit=mysql-backup-binlog.service

[Install]
WantedBy=timers.target
